body {
    background-color: #262626;
    margin: 0;
    padding: 0;
    position: relative;
    /*background-image: url(../img/sky-background.jpg);*/
    font-family:fantasy;
}

button {
        padding: 20px 20px;
        display: inline-block;
        color: white;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 50px;
        font-weight: bold;
        overflow: hidden;
        background-color: #262626;
        border: white 5px solid;
        border-radius: 20px;
        box-shadow: 0 0 50px #3e7ae7;
}

button:hover {
    color: #111;
        background: #9fadc6;
        box-shadow: 0 0 50px pink;

}


#start{
    background-color: none;
    height: 100vh;
    width: 100vw;
    text-align: center;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
    /*background-image: url(../img/sky-background.jpg);*/
    background-size: cover;
    color: white;
}

#start img {
    margin: auto;
    display: table-cell;
    max-height: 600px;
}

h1 {
    font-size: 4.5rem;
    border: purple 2px ;
    box-shadow: 0 0 50px rgb(62, 122, 231);
    font-weight: lighter;


}

#board-screen {
    background-image: url(../img/sky-background.jpg);
}

#board {
    background-color: black;
    background-image: url(../img/board-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 500px;
    margin:auto;
    position: relative;
    overflow: hidden;
    display: none;
    border: white 10px ;
    box-shadow: 0 0 50px rgb(62, 122, 231);

}

#next {
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    background-image: url(../img/sky-background.jpg);
}

#next img {
    height: 400px;
    margin:auto;
}

#congrats {
    display: none;
}

#end {
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    background-image: url(../img/sky-background.jpg);
    color: white;
}

#end img{
    height: 400px;

}


#player {
    background-color: none;
    position: absolute;
    border: purple 2px ;
    display: flex;
    flex-direction: column;
    background-image: url(../img/cone.png);
    background-size:3rem;
    background-position: bottom;
    background-repeat: no-repeat;
}
#effect {
    background-size: contain;
    background-position: center;
    position: fixed;
    bottom: 0px;
    height: 80px;
    width: 50px;
}

.obstacle {
    background-color: none; 
    position: absolute;
    border-radius: 0px; 
    border: none;
    transform: rotate();
}

.chocolate {
    background-color: none;
    background-image: url(../img/chocolate.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.vanilla {
    background-color: none;
    background-image: url(../img/vanilla.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.strawberry {
    background-color: none;
    background-image: url(../img/strawberry.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.cherry {
    background-color: none;
    background-image: url(../img/cherry.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.antigravity {
    background-color: none;
    background-image: url(../img/feather.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.slowTime {
    background-color: none;
    background-image: url(../img/clock.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

#expectedCombo{
    position: absolute;
    top: 40%;
    left:10%;
    padding: 20px 20px;
    display: inline-block;
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 1.5em;
    overflow: hidden;
    background: rgb(13, 13, 49);
    border-radius: 20px;
    border: solid 5px white;
    margin:auto;
    box-shadow: 0 0 50px #3e7ae7;

}

#expectedCombo img{
    position:relative;
    max-width: 50px;
}

#lvl {
    position: absolute;
    top: 50%;
    right:10%;
    padding: 20px 20px;
    display: inline-block;
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 1.5em;
    overflow: hidden;
    background: rgb(13, 13, 49);
    border-radius: 20px;
    border: solid 5px white;
    box-shadow: 0 0 50px #3e7ae7;

}

#score {
    position: absolute;
    top: 10%;
    right:10%;
    padding: 20px 20px;
    display: inline-block;
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 1.5em;
    overflow: hidden;
    background: rgb(13, 13, 49);
    border-radius: 20px;
    border: solid 5px white;
    box-shadow: 0 0 50px #3e7ae7;
}




.stacked {
    position: absolute;
    left: 0;
    right:0;
    bottom: 0;
    height: 20px;
    width: 20px;
}


.spin{
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }



